/* *{
  margin: 0px;
} */

.regipage {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  /* font-size: 2rem; */
  font-weight: 500;

  color: white;
}

.regipage input {
  margin: 0.3rem;
  padding: 0.5rem;
  width: 50%;
  height: 2.5rem;
  background-color: #282c34;
  border: 0px 5px;
  border-color: red;
  color: whitesmoke;
  font-size: 1.4rem;
  border-style: none none solid none;
}

.submit {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  /* font-size: 2rem; */
  font-weight: 500;

  color: white;
}

.submit form {
  width: 100%;
}

.submit input {
  margin: 0.3rem;
  padding: 0.5rem;
  width: 50%;
  height: 2.5rem;
  background-color: #282c34;
  border: 0px 5px;
  border-color: red;
  color: whitesmoke;
  font-size: 1.4rem;
  border-style: none none solid none;
}

.regipage form {
  width: 100%;
}

.secretPage {
  background-color: #282c34;

  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  /* justify-content: center; */
  font-size: calc(20px + 2vmin);
  /* font-size: 2rem; */

  color: white;
}

.title1 {
  margin-top: 0.5rem;
  font-size: 3rem;
  /* font-weight: 300; */

}

.subtitle {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 300;

}

.infoline {
  font-size: 1.7rem;
  opacity: 0.5;
}

/***** CARD ************/

.card-container {
  background-color: #282c34;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  display: inline-block;
  height: 230px;
  width: 250px;
  margin: 10px;
  position: relative;
}



.card-container div {

  /* height: 200px; */
  /* width: 200px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.card-container div p {
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}

.footer {
  text-align: center;
  background-color: #282c34;
  color: whitesmoke;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  background-size: 10px 10px;

}


.footer p {
  margin: 15px 0px 0px 0px;
  font-size: 1.3rem;
}

/****** secrets buttons **/

.special-btn {
  width: 50%;
  background-color: rgb(34, 34, 34);
  border: 0.1px solid rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 2rem;
}

.special-btn:active {
  background-color: rgb(53, 53, 53);
}


.trash button {
  background-color: transparent;
  border: 0px;
  color: rgb(55, 55, 55);
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 1.8rem;

}

.already{
  font-size: 1rem;
  margin-top: 0.5rem;
}
.already strong{
  text-decoration: underline;
  color: whitesmoke;
}

.trash button:hover {
  font-size: 2rem;
  color: rgb(195, 36, 36);
}

.errorlogin{
  color: rgb(235, 96, 96);
  text-transform: uppercase;
  font-size: 1.6rem;
}